# Base Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonLabels:
  managed-by: argocd
  platform: cnoe
  environment: staging

resources:
  - ../../base

patches:
  - target:
      kind: Deployment
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
