# Production Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonLabels:
  managed-by: argocd
  platform: cnoe
  environment: production

resources:
  - ../../base

patches:
  - target:
      kind: Deployment
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
  - target:
      kind: Deployment
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/resources
        value:
          requests:
            memory: "512Mi"
            cpu: "500m"
          limits:
            memory: "2Gi"
            cpu: "2000m"
