apiVersion: v1
kind: ConfigMap
metadata:
  name: backstage-config
  namespace: backstage
data:
  app-config.yaml: |
    app:
      title: Platform Engineering Portal
      baseUrl: https://backstage.yourdomain.com
    
    organization:
      name: Your Organization
    
    backend:
      baseUrl: https://backstage.yourdomain.com
      listen:
        port: 7007
      csp:
        connect-src: ["'self'", 'http:', 'https:']
      cors:
        origin: https://backstage.yourdomain.com
        methods: [GET, POST, PUT, DELETE]
        credentials: true
      database:
        client: pg
        connection:
          host: ${POSTGRES_HOST}
          port: ${POSTGRES_PORT}
          user: ${POSTGRES_USER}
          password: ${POSTGRES_PASSWORD}
          database: backstage
    
    integrations:
      github:
        - host: github.com
          token: ${GITHUB_TOKEN}
      
      azure:
        - host: dev.azure.com
          token: ${AZURE_DEVOPS_TOKEN}
    
    catalog:
      rules:
        - allow: [Component, System, API, Resource, Location, Template]
      locations:
        - type: url
          target: https://github.com/your-org/platform-templates/blob/main/catalog-info.yaml
